<!-- <app-bill></app-bill> -->
<!-- <app-print></app-print> -->

<ul *ngIf="path">
  <li>
    <a [routerLink]="['/form']"  class="spotify"
      ><span>Create Bill</span><i class="entypo-spotify"></i
    ></a>
  </li>
  <li>
    <a [routerLink]="['/items']" class="soundcloud"
      ><span>Add Iteam</span><i class="entypo-soundcloud"></i
    ></a>
  </li>
  <li>
    <a [routerLink]="['/history']" class="skype"
      ><span>View Bills</span><i class="entypo-skype"></i
    ></a>
  </li>
</ul>


<router-outlet></router-outlet>
