.container {
    background-color: white;
    height: 100vh;
    margin-top: 2%;
    padding: 5%;
}
.btn {
    width: 75%;
}
.remove {
    padding: 0px 5px;
    background-color: red;
    padding-bottom: 3px;
    color: white;
    float: right;
    cursor: pointer;
}