<div *ngIf="bill" class="container">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <p>Bill Number&nbsp;:</p>
        </div>
        <div class="col-6">
          <input
            class="form-control"
            [(ngModel)]="bill.id"
            name="billNo"
            type="number"
            disabled="true"
          />
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <p>Bill Date&nbsp;:</p>
        </div>
        <div class="col-6">
         <span>{{bill.dateField |date}}</span>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <p>Customer Name&nbsp;:</p>
        </div>
        <div class="col-6">
          <input
            class="form-control"
            [(ngModel)]="bill.customer_data.name"
            name="customerName"
            type="text"
          />
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <p>Mobile Number&nbsp;:</p>
        </div>
        <div class="col-6">
          <input
            class="form-control"
            [(ngModel)]="bill.customer_data.number"
            name="mobile"
            type="text"
          />
        </div>
      </div>
    </div>
  </div>
  <hr />
  <form #inputForm="ngForm" (ngSubmit)="addItem(inputForm)">
    <div class="row">
      <div class="col-5">
        <p>Item</p>
        <select class="form-control" (change)="getPrice(inputForm)" ngModel name="itemName" type="text">
          <option *ngFor="let item of items" value="{{ item.name }}">{{
            item.name
          }}</option
          >>
        </select>
      </div>
      <div class="col-7">
        <div class="row">
          <div class="col-3">
            <p>Quantity</p>
            <input class="form-control" (ngModelChange)="calculateSub(inputForm)" ngModel name="quantity" type="number" />
          </div>
          <div class="col-3">
            <p>Price</p>
            <input class="form-control" [(ngModel)]="unitPrice" name="unitPrice" type="text" disabled />
          </div>

          <div class="col-3">
            <p>Total</p>
            <input class="form-control" [(ngModel)]="totalPrice" name="total" type="text" disabled/>
          </div>
          <div class="col-3">
            <p>Action</p>
            <button type="submit" class="btn btn-success">Add</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" colspan="4">Item Name</th>
        <th scope="col">Qty</th>
        <th scope="col">Unit Cost</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of bill.purchase.items; let i = index">
        <td>{{ i + 1 }}</td>
        <td colspan="4">{{ item.name }}</td>
        <td>{{ item.units }}</td>
        <td>Rs&nbsp;{{ item.unit_cost }}</td>
        <td>Rs&nbsp;{{ getTotal(item.units,item.unit_cost) }}</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <div class="row">
    <div class="col-6">
      <div class="row">
        
      </div>
    </div>
    <div class="col-6 p-3 text-center">
      <h3>Grand Total&nbsp;:&nbsp;Rs&nbsp;{{grandTotal}}</h3>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-3">
      <button class="btn btn-success" (click)="save()">Save</button>
    </div>
    <div class="col-3">
      <button class="btn btn-success"(click)="print()">Print</button>
    </div>
    <div class="col-3">
      <button class="btn btn-info" (click)="clear()">Clear</button>
    </div>
    <div class="col-3">
      <button class="btn btn-danger">Cancel</button>
    </div>
  </div>
</div>
