<div class="container invoice">
  <div class="ui segment cards">
    <div class="ui card">
      <div class="content">
        <div class="header">Company Details</div>
      </div>
      <div class="content">
        <ul>
          <li><strong> Name: Amar Spices </strong></li>
          <li><strong> Address: </strong> 1 Unknown Street VIC</li>
          <li><strong> Phone: </strong> (+91)98459390423</li>
          <li><strong> Email: </strong> subash@gmail.com</li>
          <li><strong> Contact: </strong> Subash</li>
        </ul>
      </div>
    </div>
    <div class="ui card customercard">
      <div class="content">
        <div class="header">Customer Details</div>
      </div>
      <div class="content">
        <h4 class="ui sub header invDetails float-right">
          Invoice No: {{ currentBill.id }} <br /><br />Date:
          {{ currentBill.date }}
        </h4>
        <ul>
          <li>
            <strong> Name: {{ currentBill.customer_data.name }} </strong>
          </li>
          <li>
            <strong> Phone: </strong> {{ currentBill.customer_data.number }}
          </li>
        </ul>
      </div>
    </div>

    <div class="ui segment itemscard">
      <div class="content">
        <table class="ui celled table">
          <thead>
            <tr>
              <th>Item / Details</th>
              <th class="text-center colfix">Qty</th>
              <th class="text-center colfix">Rate</th>

              <th class="text-center colfix">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of currentBill.purchase.items">
              <td>
                {{ item.name }}
                <br />
              </td>
              <td class="text-right">
                <span class="mono"> {{ item.units }}</span>
              </td>
              <td class="text-right">
                <span class="mono"> {{ item.unit_cost }}</span>
              </td>

              <td class="text-right">
                <span class="mono">
                  {{ calculateTotal(item.units, item.unit_cost) }}</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="ui card ml-auto">
      <div class="content center aligned text segment">
        <table style="text-align: left;">
          <tr>
            <td>SubTotal:</td>
            <td>{{ currentBill.purchase.total }}</td>
          </tr>
          <tr>
            <td>CGST:</td>
            <td></td>
          </tr>
          <tr>
            <td>SGST:</td>
            <td></td>
          </tr>
          <tr>
            <td>Grand Total:</td>
            <td>{{ currentBill.purchase.total }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
